# Compute SAFs from DoseByRegions.txt and fill the database

# Import libraries

In [2]:
import os
import pandas as pd
import sqlalchemy
import datetime
import json

# Define functions

In [3]:
def connect(server, user, password, db, host='localhost'):
    '''Returns a connection and a metadata object'''
    # We connect with the help of the URL
    # postgresql://postgres:postgres@localhost:5432/opendose
    url = '{}://{}:{}@{}/{}'
    url = url.format(server, user, password, host, db)

    # The return value of create_engine() is our connection object
    con = sqlalchemy.create_engine(url)#, client_encoding='utf8')
    # We then bind the connection to MetaData()
    meta = sqlalchemy.MetaData(bind=con) #, reflect=True)
    meta.reflect()

    return con, meta

In [4]:
def df_single_sql_query(df, col_id, table, con):
    '''Returns index of a column from a sql query'''
    res = []
    # allow only single df line query
    if len(df.index) != 1:
        return None
    # compose the sql query from the df dataframe
    sql='SELECT '+col_id+' FROM '+table+' WHERE '
    for col in df.columns:
        if col is not col_id:
            sql += col+"='"+df[col].iloc[0]+"' AND "
    sql = sql[:-5]+';'
    # execute the sql query on the database table
    for line in con.execute(sql):
        res.append(line[col_id])
    # return the index corresponding to the sql query (if one)
    return res

# Connect to the OpenDose database

In [5]:
con, meta = connect(server='postgresql', user='postgres', password='CRCT_eq15', db='opendose', host='crctcalcul')
con

Engine(postgresql://postgres:***@crctcalcul/opendose)

# Read tables from the database

In [6]:
# this load all the tables into memory, it's not adapted for large tables like t_safs
t_pro = pd.read_sql('t_provenances', con)
t_pha = pd.read_sql('t_phantoms', con)
t_reg = pd.read_sql('t_regions', con)
t_par = pd.read_sql('t_particles', con)

pha = {}
reg = {}
par = {}
# build dictionary of region_id for fast queries
for i,p in t_pha.iterrows():
    pha[p.model] = p.phantom_id
    if p.model not in reg: reg[p.model] = {}
    regions = t_reg[t_reg.phantom_id==p.phantom_id]
    for j,r in regions.iterrows():
        reg[p.model][r.region] = {'id': r.region_id, 'mass_g': r.mass_g}
for i,p in t_par.iterrows():
    par[p['name']] = p.particle_id

# t_reg[t_reg.phantom_id==1].to_csv('/home/gate/Downloads/regions_AF.csv',index=False)
t_pro.sample(10)

,provenance_id,provider,code,version,contact,email,date
29,30,CRCT,GATE,8.1,Maxime Chauvin,maxime.chauvin@inserm.fr,2019-01-20
34,35,CRCT,GATE,8.1,Maxime Chauvin,maxime.chauvin@inserm.fr,2018-12-12
12,13,SGH,GATE,7.2,Erin McKay,erin@computerhead.com.au,2018-09-11
14,15,IEO-CNAO,FLUKA,2011,Francesca Botta,francesca.botta@ieo.it,2018-12-04
13,14,CRCT,GATE,8.0,Maxime Chauvin,maxime.chauvin@inserm.fr,2017-08-31
15,16,CRUK,PENELOPE,2014,Nadia Falzone,nadia.falzone@oncology.ox.ac.uk,2017-09-08
38,39,CRCT,GATE,8.1,Maxime Chauvin,maxime.chauvin@inserm.fr,2019-01-10
4,5,SGH,GATE,7.2,Erin McKay,erin@computerhead.com.au,2018-06-06
44,45,CRCT,GATE,8.1,Maxime Chauvin,maxime.chauvin@inserm.fr,2019-04-12
20,21,CRCT,GATE,8.1,Maxime Chauvin,maxime.chauvin@inserm.fr,2019-01-13

# Read SAF results related to a specific code from the database

In [6]:
pro = {'provider':['CRCT'],
       'code':['GATE'],
       'version':['8.1'],
       'contact':['Maxime Chauvin'],
       'email':['maxime.chauvin@inserm.fr']}
entry_pro_df = pd.DataFrame(pro)

In [7]:
# get data from CRCT GATE 8.1 related to OpenDose calcul project with gilles.mathieu@inserm.fr
sql  = "SELECT provenance_id FROM t_provenances WHERE provider='"+pro['provider'][0]
sql += "' AND code='"+pro['code'][0]+"' AND version='"+pro['version'][0]+"'"
provenance_id = pd.read_sql(sql, con).provenance_id.values

saf_df = pd.DataFrame()
for p in provenance_id:
    sql = 'SELECT * FROM t_safs WHERE provenance_id='+str(p)
    print(sql)
    df = pd.read_sql(sql, con)
    if saf_df.empty: saf_df = df
    else: saf_df = saf_df.append(df)

SELECT * FROM t_safs WHERE provenance_id=19
SELECT * FROM t_safs WHERE provenance_id=20
SELECT * FROM t_safs WHERE provenance_id=21
SELECT * FROM t_safs WHERE provenance_id=22
SELECT * FROM t_safs WHERE provenance_id=23
SELECT * FROM t_safs WHERE provenance_id=24
SELECT * FROM t_safs WHERE provenance_id=25
SELECT * FROM t_safs WHERE provenance_id=26
SELECT * FROM t_safs WHERE provenance_id=27
SELECT * FROM t_safs WHERE provenance_id=28
SELECT * FROM t_safs WHERE provenance_id=29
SELECT * FROM t_safs WHERE provenance_id=30
SELECT * FROM t_safs WHERE provenance_id=31
SELECT * FROM t_safs WHERE provenance_id=32
SELECT * FROM t_safs WHERE provenance_id=33
SELECT * FROM t_safs WHERE provenance_id=34
SELECT * FROM t_safs WHERE provenance_id=35
SELECT * FROM t_safs WHERE provenance_id=36
SELECT * FROM t_safs WHERE provenance_id=37
SELECT * FROM t_safs WHERE provenance_id=38
SELECT * FROM t_safs WHERE provenance_id=39
SELECT * FROM t_safs WHERE provenance_id=40
SELECT * FROM t_safs WHERE provenance_id=41
SELECT * FROM t_safs WHERE provenance_id=42
SELECT * FROM t_safs WHERE provenance_id=43
SELECT * FROM t_safs WHERE provenance_id=44
SELECT * FROM t_safs WHERE provenance_id=45
SELECT * FROM t_safs WHERE provenance_id=46

In [8]:
saf_df.sample(10)

,provenance_id,source_id,target_id,particle_id,energy_MeV,saf,saf_std,nb_primaries
188518,32,150,23,2,0.0200,0.000000e+00,0.000000e+00,100000000.0
167332,36,38,5,1,0.0090,0.000000e+00,0.000000e+00,100000000.0
116728,37,81,137,2,0.0080,0.000000e+00,0.000000e+00,100000000.0
116478,23,279,206,2,0.0060,0.000000e+00,0.000000e+00,100000000.0
1427,36,61,39,2,0.0600,0.000000e+00,0.000000e+00,100000000.0
178236,27,270,279,1,0.0100,4.411645e-01,3.290050e-04,100000000.0
105148,34,5,149,2,0.0050,0.000000e+00,0.000000e+00,100000000.0
59782,28,311,294,1,0.0085,0.000000e+00,0.000000e+00,100000000.0
56948,33,98,165,1,0.0100,3.651024e-09,3.651024e-09,100000000.0
188759,35,3,96,1,0.0260,9.837703e-05,3.945829e-06,100000000.0

# Walk the directories to find new results and fill the database

In [9]:
# results directory
dbr_dir = '/home/gate/Downloads/dosebyregions_test/'

# loop over results
for model in os.listdir(dbr_dir):
    for source in os.listdir(dbr_dir+'/'+model):
        for particle in os.listdir(dbr_dir+'/'+model+'/'+source):
            print(model, source, particle)
            # get the corresponding id from the database
            source_id = reg[model][int(source)]['id']
            particle_id = par[particle]
            # make sql query here on source_id and particle_id
            if not saf_df.empty:
                sp_df = saf_df[(saf_df.source_id == source_id) &
                               (saf_df.particle_id == particle_id)]
            else:
                sp_df = pd.DataFrame()

            for subdir, dirs, files in os.walk(dbr_dir+'/'+model+'/'+source+'/'+particle):
                if 'DoseByRegions.txt' in files:
                    # get model, source, particle, energy, nb_primaries from the directory name
                    dirname = subdir.split('/')[-2].split('_')
                    energy_MeV = float(dirname[3])
                    nb_primaries = int(dirname[4])
                    # check if this entry exist in the database
                    # (checking this for all targets takes too much time) ?
                    if not sp_df.empty:
                        sel_df = sp_df[(sp_df.energy_MeV == energy_MeV) &
                                       #(sp_df.target_id == target_id) &
                                       (sp_df.nb_primaries == nb_primaries)]
                    else:
                        sel_df = pd.DataFrame()

                    # if the entry is not in the database fill it
                    if sel_df.empty:
                        # get the date from the modification date of the file
                        file_time = os.path.getmtime(subdir+'/DoseByRegions.txt')
                        entry_pro_df['date'] = datetime.datetime.fromtimestamp(file_time).strftime("%Y-%m-%d")
                        # check if this provenance already exist, if not fill the database
                        pro_id = df_single_sql_query(entry_pro_df,'provenance_id','t_provenances',con)
                        if not pro_id:
                            entry_pro_df.to_sql('t_provenances', con, if_exists='append', index=False)
                            pro_id = df_single_sql_query(entry_pro_df,'provenance_id','t_provenances',con)

                        # read the data for all the targets from DoseByRegions.txt
                        dbr_data = pd.read_csv(subdir+'/DoseByRegions.txt', sep='\s+')
                        # create a new df with the entry data to fill the database with df.to_sql()
                        new_df = pd.DataFrame(columns=saf_df.columns)
                        entry = {}
                        for i,row in dbr_data.iterrows():
                            target_id = reg[model][int(row['#id'])]['id']
                            target_kg = reg[model][int(row['#id'])]['mass_g'] /1000.
                            entry['provenance_id'] = pro_id
                            entry['source_id'] = source_id
                            entry['target_id'] = target_id
                            entry['particle_id'] = particle_id
                            entry['energy_MeV'] = energy_MeV
                            entry['saf'] = row['edep(MeV)']/target_kg/energy_MeV/nb_primaries
                            entry['saf_std'] = row['std_edep']*entry['saf']
                            entry['nb_primaries'] = nb_primaries
                            new_df = new_df.append(pd.DataFrame(entry))
                            # print(sel_df[sel_df.target_id == target_id][['saf','saf_std']])
                        if not new_df.empty:
                            try:
                                # fill the database with this entry
                                print('... filling the database with',subdir.split('/')[-2])
                                #new_df.to_sql('t_safs', con, if_exists='append', index=False)
                            except:
                                print('Error: the database has refused the data')

AF 95 electrons
AF 95 photons
AF 10 electrons
AF 10 photons

# Clean the PostgreSQL database

In [8]:
# clean by code to be sure there is one entry per source, target, energy
t_pro = pd.read_sql('t_provenances', con)
t_pro['code_version'] = t_pro['provider'] + ' ' + t_pro['code'] + ' ' + t_pro['version']

codes = {}
for i,row in t_pro.iterrows():
    code = row['code_version']
    if code not in codes: 
        codes[code] = [row['provenance_id']]
    else:
        codes[code].append(row['provenance_id'])

for code,pro_id in codes.items():
    # to skip some codes
    if (code == 'CRCT Geant4 10.5'): continue
    print('...cleaning', code)
    saf_df = pd.DataFrame()
    for p in pro_id:
        sql  = 'SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs'
        sql += ' WHERE provenance_id='+str(p)
        print(sql)
        df = pd.read_sql(sql, con)
        if saf_df.empty: saf_df = df
        else: saf_df = saf_df.append(df)
    badctid = saf_df[saf_df.duplicated(keep='last',
        subset=['source_id', 'target_id', 'particle_id', 'energy_MeV', 'nb_primaries'])].ctid

    if not badctid.empty:
        # delete the duplicate entries of this code
        print(len(badctid),'to delete...')
#         sql = 'DELETE FROM t_safs WHERE ctid IN '+str(tuple(badctid))
#         result = con.execute(sql)
#         print (result.rowcount,'duplicate rows in t_safs have been deleted.')

...cleaning NPL EGS++ 2016
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=1
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=18
...cleaning SCK.CEN MCNPX 2.7
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=2
...cleaning IRSN MCNPX 2.6c
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=3
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=4
...cleaning SGH GATE 7.2
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=5
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=6
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=7
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=8
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=9
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=10
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=11
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=12
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=13
...cleaning CRCT GATE 8.0
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=14
...cleaning IEO-CNAO FLUKA 2011
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=15
...cleaning CRUK PENELOPE 2014
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=16
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=47
3808 to delete...
3808 duplicate rows in t_safs have been deleted.
...cleaning CRCT GATE 8.1
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=19
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=20
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=21
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=22
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=23
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=24
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=25
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=26
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=27
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=28
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=29
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=30
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=31
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=32
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=33
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=34
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=35
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=36
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=37
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=38
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=39
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=40
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=41
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=42
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=43
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=44
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=45
SELECT ctid, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs WHERE provenance_id=46

In [11]:
# SELECT COUNT(*) FROM t_safs; = 11177347 (2019-05-06)
# SELECT COUNT(*) FROM t_safs; = 12608488 (2020-01-06)

In [ ]:
# # ********************* remove exact duplicates in t_safs *********************
# # *****************************************************************************
# # delete rows in the list of bad ctid (shorter)
# sql = '''
# DELETE FROM t_safs a USING 
# (SELECT max(ctid) AS badctid FROM t_safs GROUP BY t_safs.* HAVING COUNT(*) > 1) b 
# WHERE a.ctid IN (badctid)
# '''
# result = con.execute(sql)
# print (result.rowcount,'duplicate rows in t_safs have been deleted.')

# SQL queries

In [ ]:
# # to see only a limited number of rows
# SELECT * FROM t_safs LIMIT 10;

# # check duplicates
# SELECT * FROM t_safs GROUP BY t_safs.* HAVING (COUNT(*) > 1);
# # check duplicates with different saf or saf_std
# SELECT provenance_id, source_id, target_id, particle_id, "energy_MeV", nb_primaries FROM t_safs GROUP BY provenance_id, source_id, target_id, particle_id, "energy_MeV", nb_primaries HAVING (COUNT(*) > 1);
# SELECT max(ctid) AS badctid FROM t_safs GROUP BY t_safs.* HAVING COUNT(*) > 1;

# # delete entries
# DELETE FROM t_safs WHERE provenance_id=xxx;
# DELETE FROM t_provenances WHERE provenance_id=xxx;

# # reset the primary key auto increment value after deleting entries
# ALTER SEQUENCE t_provenances_provenance_id_seq RESTART WITH xxx;

# Old stuff

# Create dictionary of results related to a specific code from the database

In [ ]:
# # get data from CRCT GATE 8.1 related to OpenDose calcul project with gilles.mathieu@inserm.fr
# sql  = "SELECT provenance_id FROM t_provenances WHERE provider='"+pro['provider'][0]
# sql += "' AND code='"+pro['code'][0]+"' AND version='"+pro['version'][0]+"'"
# provenance_id = pd.read_sql(sql, con).provenance_id.values

# saf_df = pd.DataFrame()
# for p in provenance_id:
#     sql = 'SELECT * FROM t_safs WHERE provenance_id='+str(p)
#     df = pd.read_sql(sql, con)
#     if saf_df.empty:
#         print(sql)
#         saf_df = df
#     else:
#         print(sql)
#         saf_df = saf_df.append(df)

In [ ]:
# saf_df.sample(5)

In [ ]:
# # time = ~1 min per million rows
# db = {'source':{'target':{'particle':{'energy':'nb_primaries'}}}}

# for i,row in saf_df.iterrows():
#     if row.source_id not in db: 
#         db[row.source_id] = {}
#     if row.target_id not in db[row.source_id]: 
#         db[row.source_id][row.target_id] = {}
#     if row.particle_id not in db[row.source_id][row.target_id]: 
#         db[row.source_id][row.target_id][row.particle_id] = {}
#     db[row.source_id][row.target_id][row.particle_id][row.energy_MeV] = row.nb_primaries

In [ ]:
# with open('/home/gate/OpenDose/db_GATE8.1.json', 'w') as f:
#     json.dump(db, f)

# Walk the directories to compute SAFs from DoseByRegions.txt

In [ ]:
# pro = {'provider':['CRCT'],
#        'code':['GATE'],
#        'version':['8.1'],
#        'contact':['Maxime Chauvin'],
#        'email':['maxime.chauvin@inserm.fr']}
# entry_pro_df = pd.DataFrame(pro)

In [ ]:
# # physic constants
# Joules_MeV = 1.602176565e-13 # MeV in Joules

# # results directory
# # dbr_dir = '/home/gate/Downloads/dosebyregions_test/'
# dbr_dir = '/home/gate/Downloads/dosebyregions/'

# # loop over results
# for subdir, dirs, files in os.walk(dbr_dir):
#     if 'DoseByRegions.txt' in files:
#         # get model, source, particle, energy, nb_primaries from the directory name
#         dirname = subdir.split('/')[-2].split('_')
#         model, source, particle, energy, nb = dirname[0], dirname[1], dirname[2], dirname[3], dirname[4]
#         if particle == 'gamma': particle = 'photons'
#         if particle == 'e-': particle = 'electrons'
#         print(model, source, particle, energy, nb)
#         # get the corresponding id from the database
#         phantom_id = pha[model]
#         if int(source) not in reg[model]: 
#             print('caca')
#             continue
#         source_id = reg[model][int(source)]
#         particle_id = par[particle]
#         energy_MeV = float(energy)
#         nb_primaries = int(nb)
#         # print(source_id, particle_id, energy_MeV, nb_primaries)
        
#         # read the data for all the targets from DoseByRegions.txt
#         dbr_data = pd.read_csv(subdir+'/DoseByRegions.txt', sep='\s+')
#         # get the date from the modification date of the file
#         file_time = os.path.getmtime(subdir+'/DoseByRegions.txt')
#         entry_pro_df['date'] = datetime.datetime.fromtimestamp(file_time).strftime("%Y-%m-%d")
#         # check if this provenance already exist, if not fill the database
#         pro_id = df_single_sql_query(entry_pro_df,'provenance_id','t_provenances',con)
#         if not pro_id:
#             entry_pro_df.to_sql('t_provenances', con, if_exists='append', index=False)
#             pro_id = df_single_sql_query(entry_pro_df,'provenance_id','t_provenances',con)
        
#         # check if this entry exist in the database (checking this for all targets takes too much time)
#         # build dictionary to make this faster, first make a list of files to add, sorted by source 
#         # and build dictionary with sql query on this source
#         if not saf_df.empty:
#             sel_df = saf_df[(saf_df.source_id == source_id) &
#                             # (saf_df.target_id == target_id) &
#                             (saf_df.particle_id == particle_id) &
#                             (saf_df.energy_MeV == energy_MeV) &
#                             (saf_df.nb_primaries == nb_primaries)]
#         else:
#             sel_df = pd.DataFrame()
#         # if the entry is not in the database fill it
#         if sel_df.empty:
#             # create a new df with the entry data to fill the database with df.to_sql()
#             new_df = pd.DataFrame(columns=saf_df.columns)
#             entry = {}
#             for i,row in dbr_data.iterrows():
#                 target_id = reg[model][int(row['#id'])]
#                 entry['provenance_id'] = pro_id
#                 entry['source_id'] = source_id
#                 entry['target_id'] = target_id
#                 entry['particle_id'] = particle_id
#                 entry['energy_MeV'] = energy_MeV
#                 entry['saf'] = row['dose(Gy)']/(energy_MeV*Joules_MeV)/nb_primaries
#                 entry['saf_std'] = row['std_dose']*entry['saf']
#                 entry['nb_primaries'] = nb_primaries
#                 new_df = new_df.append(pd.DataFrame(entry))
#                 # print(sel_df[sel_df.target_id == target_id][['saf','saf_std']])
#             if not new_df.empty:
#                 try:
#                     # fill the database with this entry
#                     print('... filling the database with',subdir.split('/')[-2])
#                     new_df.to_sql('t_safs', con, if_exists='append', index=False)
#                 except:
#                     print('Error: the database has refused the data')

# # entry_pro_df